@{
    ViewBag.Title = "Home Page";
}
<h1>Unbundled</h1>

<h1>forInConst</h1>
<ul id="forInConst">
</ul>
<h1>forInVar</h1>
<ul id="forInVar">
</ul>
<h1>forInLet</h1>
<ul id="forInLet">
</ul>
<h1>forOfConst</h1>
<ul id="forOfConst">
</ul>
<h1>forOfVar</h1>
<ul id="forOfVar">
</ul>
<h1>forOfLet</h1>
<ul id="forOfLet">
</ul>


@Scripts.Render("~/scripts/ForTest.js")